<div ngForm #l="ngForm" novalidate>
    <div class="modal-body">
        <h2>Paletra</h2>
        <p>Adicionar palestra ao evento</p>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Titulo*</label>
                    <input type="text" name="TituloPalestra" required class="form-control" #TituloPalestra="ngModel" [(ngModel)]="entity.Titulo" placeholder="titulo da palestra" />
                     <label class="error" [hidden]="TituloPalestra.valid || (TituloPalestra.pristine && !submitted)">
                        Titulo da palestra é obrigatório.
                    </label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Tema*</label>
                    <input type="text" name="Tema" #Tema="ngModel" required class="form-control" [(ngModel)]="entity.Tema" placeholder="tema da palestra" />
                    <label class="error" [hidden]="Tema.valid || (Tema.pristine && !submitted)">
                        Tema da palestra é obrigatório.
                    </label>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label>Descrição*</label>
                    <input rows="3" type="text" required name="DescricaoPalestra" #DescricaoPalestra="ngModel" class="form-control" [(ngModel)]="entity.Descricao" placeholder="descrição da palestra"/>
                     <label class="error" [hidden]="DescricaoPalestra.valid || (DescricaoPalestra.pristine && !submitted)">
                        Descrição da palestra é obrigatório.
                    </label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>Dt. Palestra*</label>
                    <my-date-picker name="EditPickerModel" #EditPickerModel="ngModel" [options]="getPickerConfig()" [(ngModel)]="entity.EditPickerModel" required></my-date-picker>
                     <label class="error" [hidden]="EditPickerModel.valid || (EditPickerModel.pristine && !submitted)">
                        Dt. da palestra é obrigatória.
                    </label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Horário do Início*</label>
                    <input type="text" name="HrInicio" #HrInicio="ngModel" required class="form-control" [(ngModel)]="entity.HrInicio" placeholder="horário do início" />
                     <label class="error" [hidden]="HrInicio.valid || (HrInicio.pristine && !submitted)">
                        Hora de inicio da palestra é obrigatória.
                    </label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Horário do Fim*</label>
                    <input type="text" name="HrFim" #HrFim="ngModel" required class="form-control" [(ngModel)]="entity.HrFim" placeholder="horário do fim" />
                    <label class="error" [hidden]="HrFim.valid || (HrFim.pristine && !submitted)">
                        Hora do fim da palestra é obrigatória.
                    </label>
                </div>
            </div>
        </div>
        <br />
        <p>Local</p>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Nome*</label>
                    <input type="text" required class="form-control" name="Nome" #Nome="ngModel" [(ngModel)]="entity.Local.Nome" placeholder="nome do local" />
                    <label class="error" [hidden]="Nome.valid || (Nome.pristine && !submitted)">
                       Nome do local da palestra é obrigatório.
                    </label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Nº Máximo de Inscrições*</label>
                    <input type="text" required class="form-control" name="LotacaoMaxima" #LotacaoMaxima="ngModel" [(ngModel)]="entity.Local.LotacaoMaxima" placeholder="lotação máxima do local"
                    />
                    <label class="error" [hidden]="LotacaoMaxima.valid || (LotacaoMaxima.pristine && !submitted)">
                         Nº de Inscrições para a palestra é obrigatório.
                    </label>
                </div>
            </div>
        </div>
        <br />
        <p>Palestrante</p>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Nome*</label>
                    <input type="text" required class="form-control" name="NomePalestrante" #NomePalestrante="ngModel" [(ngModel)]="entity.Palestrante.Nome" placeholder="nome do palestrante"/>
                     <label class="error" [hidden]="NomePalestrante.valid || (NomePalestrante.pristine && !submitted)">
                         Nome do Palestrante da palestra é obrigatório.
                    </label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Descrição*</label>
                    <input rows="3" type="text" required class="form-control" name="DescricaoPalestrante" #DescricaoPalestrante="ngModel" [(ngModel)]="entity.Palestrante.Descricao" placeholder="descrição do palestrante"
                    />
                    <label class="error" [hidden]="DescricaoPalestrante.valid || (DescricaoPalestrante.pristine && !submitted)">
                         Descrição do Palestrante da palestra é obrigatória.
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        <button (click)='onClick(l.valid)' class="btn btn-success pull-right">Salvar</button>
    </div>
</div>