<div *ngIf="!entityEvent.initParticipant || entityParticipant.IdEntity > 0" ngForm #l="ngForm" novalidate>
    <div class="modal-body">
        <h2>Participante</h2>
        <p [innerHTML]="entityParticipant.IdEntity ? 'Inscreva-se no evento' : 'Cadastre-se no evento'"></p>
        <div *ngIf="!entityParticipant.IdEntity" class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Nome*</label>
                    <input type="text" required class="form-control" name="Nome" #Nome="ngModel" [(ngModel)]="entityParticipant.Nome" placeholder="seu nome"
                    />
                    <label class="error" [hidden]="Nome.valid || (Nome.pristine && !submitted)">
                                                       O campo nome é obrigatório.
                                        </label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Usuário*</label>
                    <input type="text" required class="form-control" (keyup)="lookupDescription(entityParticipant.Apelido, Apelido.valid)" name="Apelido"
                        #Apelido="ngModel" [(ngModel)]="entityParticipant.Apelido" placeholder="seu apelido" minlength="8" />
                    <label class="error" [hidden]="Apelido.valid || (Apelido.pristine && !submitted)">
                                                       O campo usuário é obrigatório.
                                        </label>
                    <label class="error" [hidden]="!existsUserName">
                                                       Usuário informado já existe. Por favor, tente outro.
                                        </label>

                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label>Email*</label>
                    <input type="email" required class="form-control" name="Email" #Email="ngModel" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
                        [(ngModel)]="entityParticipant.Email" placeholder="seu email" />
                    <label class="error" [hidden]="Email.valid || (Email.pristine && !submitted)">
                         <span *ngIf="Email.errors && Email.errors.required" >O campo email é obrigatório.</span>
                         <span *ngIf="Email.errors && Email.errors.pattern" >O email informado deve ser válido.</span>
                    </label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Senha*</label>
                    <input type="password" required class="form-control" name="Senha" #Senha="ngModel" [(ngModel)]="entityParticipant.Senha" placeholder="sua senha"
                    />
                    <label class="error" [hidden]="Senha.valid || (Senha.pristine && !submitted)">
                                                       O campo senha é obrigatório.
                                        </label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Confirmar Senha*</label>
                    <input type="password" required [disabled]="!Senha.valid" class="form-control" name="ConfSenha" #ConfSenha="ngModel" [(ngModel)]="entityParticipant.ConfSenha"
                        placeholder="confirme sua senha" />
                    <label class="error" [hidden]="ConfSenha.valid || (ConfSenha.pristine && !submitted)">
                                                       O campo confirmar senha é obrigatório.
                     </label>
                </div>
            </div>
        </div>
        <div *ngIf="entityParticipant.IdEntity > 0" class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Nome</label>
                    <input type="text" name="NomeParticipante" readonly class="form-control" [(ngModel)]="entityParticipant.Nome" placeholder="seu nome"
                    />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Usuário</label>
                    <input type="text" name="ApelidoParticipante" readonly class="form-control" [(ngModel)]="entityParticipant.Apelido" placeholder="seu apelido"
                    />
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label>Email</label>
                    <input type="text" name="EmailParticipante" readonly class="form-control" [(ngModel)]="entityParticipant.Email" placeholder="seu email"
                    />
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        <button (click)='onClick(l.valid)' class="btn btn-success pull-right" [innerHTML]="entityParticipant.IdEntity ? 'Participar' : 'Cadastrar'"></button>
    </div>
</div>
<div *ngIf="entityEvent.initParticipant && !entityParticipant.IdEntity">
    <div class="modal-body">
        <h3>Para se inscrever no evento é preciso ter cadastro, você possui cadastro?</h3>
    </div>
    <div *ngIf="entityEvent.TituloChave" class="modal-footer">
        <div class="pull-right">
            <a [routerLink]="['/login']" [queryParams]="{ returnUrl: '/events/' + entityEvent.TituloChave}" class="btn btn-success btn-lg">Sim</a>
            <button (click)="entityEvent.initParticipant = false; entityParticipant = {};" class="btn btn-default btn-lg mb-control-close">Não</button>
        </div>
    </div>
</div>