<!-- START PAGE CONTAINER -->
<div class="page-container page-navigation-top">
    <!-- PAGE CONTENT -->
    <div class="page-content">
        <!-- START X-NAVIGATION VERTICAL -->
        <home-box-auth></home-box-auth>
        <!-- END X-NAVIGATION VERTICAL -->

        <!-- START BREADCRUMB -->
        <ul class="breadcrumb">
            <li><a href="#">Painel</a></li>
            <li><a href="#">Participante</a></li>
            <li class="active">Dashboard</li>
        </ul>
        <!-- END BREADCRUMB -->

        <!-- PAGE TITLE -->
        <div class="page-title">
            <!--  <h2><span class="fa fa-cogs"></span> Configurações <small>{{configurations.length}} eventos</small></h2>
         -->
        </div>
        <!-- END PAGE TITLE -->

        <!-- PAGE CONTENT WRAPPER -->
        <div class="page-content-wrap">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <form class="form-horizontal">
                                <div class="form-group">
                                    <div class="col-md-8">
                                    </div>
                                    <div class="col-md-4">

                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
            </div>

            <div class="row" *ngIf="entity.HistoricoEventos">
                <div class="col-md-3" *ngFor="let q of entity.HistoricoEventos">
                    <!-- CONTACT ITEM -->
                    <div class="panel panel-default">
                        <div class="panel-body profile">
                            <div class="profile-data">
                                <div class="profile-data-name">{{q.Evento.Titulo}}</div>
                            </div>
                            <div class="profile-controls">
                                <a data-toggle="tooltip" data-placement="top" title="" data-original-title="Ir para o evento" [routerLink]="['/events', q.Evento.Configuracao.TituloChave]"
                                    style="top:10px;" class="profile-control-right"><span class="fa fa-globe"></span></a>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="form-group">
                                <label class="col-md-8 control-label text-left">Confirmou a Inscrição?</label>
                                <div class="col-md-3">
                                    <strong [innerHTML]="q.ConfirmouInscricao ? 'Sim' : 'Não'"></strong>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-8 control-label text-left">Participou do Evento?</label>
                                <div class="col-md-3">
                                    <strong [innerHTML]="q.ParticipouEvento ? 'Sim' : 'Não'"></strong>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-5 control-label text-left">Quando é?</label>
                                <strong class="col-md-7 control-label text-left" style="font-size: 10px;" [innerHTML]="getDateString(q.Evento.DtEvento)"></strong>

                            </div>
                        </div>
                        <div class="panel-body faq">
                            <div class="faq-item" [ngClass]="{'faq-item': true, 'active':q.collapse, '':!q.collapse}">

                                <button (click)="q.collapse=!q.collapse" *ngIf="q.PalestrasInscrito && q.PalestrasInscrito.length > 0" data-toggle="tooltip" data-placement="top" title=""
                                    data-original-title="Visualizar Palestras" class="btn btn-info  btn-rounded">Palestras&nbsp;&nbsp;&nbsp;<span  [ngClass]="{'fa': true, 'fa-angle-up':q.collapse, 'fa-angle-down':!q.collapse}"></span></button>
                                <button [hidden]="!q.CertificadoEmitido" (click)="downloadPdf(q)" data-toggle="tooltip" data-placement="top" title="" data-original-title="Baixar Certificado"
                                    class="btn btn-primary pull-right">Certificado&nbsp;&nbsp;&nbsp;<span class="fa fa-download"></span></button>

                                <div class="faq-text" *ngFor="let l of q.PalestrasInscrito">
                                    <div class="list-group list-group-contacts">
                                        <div class="list-group-item">
                                            <span class="contacts-title"><span class="fa fa-bullhorn"></span>{{l.Palestra.Titulo}}</span>
                                            <p><span class="fa fa-map-marker"></span>{{l.Palestra.Local.Nome}}</p>
                                            <span class="text-muted"><i class="fa fa-clock-o"></i>{{l.Palestra.DtPalestra|date:'dd/MMM'}}  das {{l.Palestra.HrInicio}} às {{l.Palestra.HrFim}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END CONTACT ITEM -->
                </div>

            </div>


        </div>
        <!-- END PAGE CONTENT WRAPPER -->
    </div>
    <!-- END PAGE CONTENT -->
</div>
<!-- END PAGE CONTAINER -->