<!-- START PAGE CONTAINER -->
<div class="page-container page-navigation-top">
    <!-- PAGE CONTENT -->
    <div class="page-content">
        <!-- START X-NAVIGATION VERTICAL -->
        <home-box-auth></home-box-auth>
        <!-- END X-NAVIGATION VERTICAL -->

        <!-- START BREADCRUMB -->
        <ul class="breadcrumb">
            <li><a href="#">Painel</a></li>
            <li><a href="#">Promotor</a></li>
            <li class="active">Dashboard</li>
            <div class="btn-group btn-group-xs pull-right"><button class="btn btn-primary" (click)="backToUrl()">Voltar</button></div>
        </ul>
        <!-- END BREADCRUMB -->

        <!-- PAGE TITLE-->
        <div *ngIf="event.HabilitaInscricao" class="page-title">
            <h2><span class="fa fa-cogs"></span> {{nroInscritos}} <small> participantes inscritos, restam </small>{{event.Configuracao.NroMaximoInscrito
                - nroInscritos}}<small> inscrições.</small></h2>
        </div>
        <!--END PAGE TITLE -->

        <!-- PAGE CONTENT WRAPPER -->
        <div class="page-content-wrap">
            <div class="row">
                <div class="col-md-12">
                    <!-- START JUSTIFIED TABS -->
                    <div class="panel panel-default tabs">
                        <ul class="nav nav-tabs nav-justified">
                            <li class="active"><a href="#tab1" data-toggle="tab">Todos</a></li>
                            <li><a href="#tab2" data-toggle="tab">Confirmados</a></li>
                            <li><a href="#tab3" data-toggle="tab">Pendentes</a></li>
                        </ul>
                        <div class="panel-body tab-content">
                            <div class="tab-pane active" id="tab1">
                                <!-- START RESPONSIVE TABLES -->
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="panel panel-default">
                                            <div class="panel-body panel-body-table">
                                                <div class="table-responsive">
                                                    <table class="table table-bordered table-striped table-actions">
                                                        <thead>
                                                            <tr>
                                                                <th width="50">#</th>
                                                                <th>Nome</th>
                                                                <th>Usuário</th>
                                                                <th width="100">Status</th>
                                                                <th width="150">Dt. Inscrição</th>
                                                                <th width="150">Dt. Confirmação</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr *ngFor="let item of modelParticipants.Todos" id="trow_1">
                                                                <td class="text-center">{{item.Participante.IdEntity}}</td>
                                                                <td><strong>{{item.Participante.Nome}}</strong></td>
                                                                <td><strong>@{{item.Participante.Apelido}}</strong></td>
                                                                <td><span [ngClass]="{'label': true, 'label-success': item.ConfirmouInscricao, 'label-warning': !item.ConfirmouInscricao}"
                                                                        [innerHTML]="item.ConfirmouInscricao? 'Confirmado' : 'Pendente'"></span></td>
                                                                <td>{{item.DtIncricao | date:'dd/MM/yyyy HH:mm'}}</td>
                                                                <td>{{item.DtConfirmacao| date:'dd/MM/yyyy HH:mm'}}</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>

                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <!-- END RESPONSIVE TABLES -->

                            </div>
                            <div class="tab-pane" id="tab2">
                                <!-- START RESPONSIVE TABLES -->
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="panel panel-default">
                                            <div class="panel-body panel-body-table">
                                                <div class="table-responsive" id="tableConfirms">
                                                    <table class="table table-bordered table-striped table-actions">
                                                        <thead>
                                                            <tr>
                                                                <th width="50">#</th>
                                                                <th>Nome</th>
                                                                <th>Usuário</th>
                                                                <th width="100">Status</th>
                                                                <th width="150">Dt. Inscrição</th>
                                                                <th width="150">Dt. Confirmação</th>
                                                                <th width="150">Confirmar Presença</th>
                                                                <th width="150">Emitir Certificado</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr *ngFor="let item of modelParticipants.Confirmados" id="trow_1">
                                                                <td class="text-center">{{item.Participante.IdEntity}}</td>
                                                                <td><strong>{{item.Participante.Nome}}</strong></td>
                                                                <td><strong>@{{item.Participante.Apelido}}</strong></td>
                                                                <td><span [ngClass]="{'label': true, 'label-success': item.ConfirmouInscricao, 'label-warning': !item.ConfirmouInscricao}"
                                                                        [innerHTML]="item.ConfirmouInscricao? 'Confirmado' : 'Pendente'"></span></td>
                                                                <td>{{item.DtIncricao | date:'dd/MM/yyyy HH:mm'}}</td>
                                                                <td>{{item.DtConfirmacao| date:'dd/MM/yyyy HH:mm'}}</td>
                                                                <td class="text-center">
                                                                    <button *ngIf="item.ConfirmouInscricao" [disabled]="item.CertificadoEmitido" (click)="confirmarParticipacao(item)" class="btn btn-default btn-rounded btn-sm"><i [ngClass]="{'fa': true, 'fa-check-square-o': item.ParticipouEvento, 'fa-square-o': !item.ParticipouEvento}"></i></button>
                                                                </td>
                                                                <td>
                                                                    <button *ngIf="item.ConfirmouInscricao" [disabled]="item.CertificadoEmitido || !item.ParticipouEvento" class="btn btn-danger btn-rounded btn-sm" (click)="emitirCertificado(item);">
                                                                        <i [ngClass]="{'fa': true, 'fa-check-square-o': item.CertificadoEmitido, 'fa-square-o': !item.CertificadoEmitido}"></i>
                                                                        </button>

                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>

                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <!-- END RESPONSIVE TABLES -->
                            </div>
                            <div class="tab-pane" id="tab3">
                                <!-- START RESPONSIVE TABLES -->
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="panel panel-default">
                                            <div class="panel-body panel-body-table">
                                                <div class="table-responsive">
                                                    <table class="table table-bordered table-striped table-actions">
                                                        <thead>
                                                            <tr>
                                                                <th width="50">#</th>
                                                                <th>Nome</th>
                                                                <th>Usuário</th>
                                                                <th width="100">Status</th>
                                                                <th width="150">Dt. Inscrição</th>
                                                                <th width="150">Ações</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr *ngFor="let item of modelParticipants.Pendentes" id="trow_1">
                                                                <td class="text-center">{{item.Participante.IdEntity}}</td>
                                                                <td><strong>{{item.Participante.Nome}}</strong></td>
                                                                <td><strong>@{{item.Participante.Apelido}}</strong></td>
                                                                <td><span [ngClass]="{'label': true, 'label-success': item.ConfirmouInscricao, 'label-warning': !item.ConfirmouInscricao}"
                                                                        [innerHTML]="item.ConfirmouInscricao? 'Confirmado' : 'Pendente'"></span></td>
                                                                <td>{{item.DtIncricao | date:'dd/MM/yyyy HH:mm'}}</td>                                                               
                                                                <td>
                                                                    <button *ngIf="!item.ConfirmouInscricao" class="btn btn-danger btn-rounded btn-sm" (click)="removeRegister(item);"><span class="fa fa-times"></span>Excluir</button>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>

                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <!-- END RESPONSIVE TABLES -->
                            </div>
                        </div>
                    </div>
                    <!-- END JUSTIFIED TABS -->
                </div>
            </div>
        </div>
        <!-- END PAGE CONTENT WRAPPER -->
    </div>
    <!-- END PAGE CONTENT -->
</div>