<!-- START PAGE CONTAINER -->
<div class="page-container page-navigation-top">
    <!-- PAGE CONTENT -->
    <div class="page-content">
        <!-- START X-NAVIGATION VERTICAL -->
        <home-box-auth></home-box-auth>
        <!-- END X-NAVIGATION VERTICAL -->

        <!-- START BREADCRUMB -->
        <ul class="breadcrumb">
            <li><a href="#">Painel</a></li>
            <li><a href="#">Promotor</a></li>
            <li class="active">Dashboard</li>
            <div class="btn-group btn-group-xs pull-right"><button class="btn btn-primary" (click)="backToUrl()">Voltar</button></div>
        </ul>
        <!-- END BREADCRUMB -->

        <!-- PAGE TITLE-->
        <div *ngIf="event.IdEntity > 0" class="page-title">
            <div class="row">
                <div *ngIf="event.HabilitaInscricao || initRegistration" class="col-md-3">
                    <div class="widget widget-primary widget-no-subtitle">
                        <div class="list-group-controls">
                            <button (click)="checkDataPoint()" class="btn btn-primary pull-right" data-toggle="tooltip" data-placement="top" title=""
                                data-original-title="Atualizar Participantes"><i class="fa fa-refresh"></i></button>
                        </div>
                        <div class="widget-title">
                            Total Inscritos
                        </div>
                        <div class="widget-subtitle">{{dataPoint.DataNow|date:"dd/MM/yyyy HH:mm"}}</div>
                        <div class="widget-int">{{dataPoint.NroTotal + " de " + event.Configuracao.NroMaximoInscrito }}</div>
                    </div>
                </div>
                <div *ngIf="event.HabilitaInscricao || initRegistration" class="col-md-3">
                    <div class="widget widget-success widget-no-subtitle">
                        <div class="widget-title">Confirmados</div>
                        <div class="widget-subtitle">Última Conf.:{{dataPoint.DtUltimaConfirm|date:"dd/MM/yyyy HH:mm"}}</div>
                        <div class="widget-int">{{dataPoint.NroInscritosConfirmados}}</div>
                    </div>
                </div>
                <div *ngIf="event.HabilitaInscricao || initRegistration" class="col-md-3">
                    <div class="widget widget-danger widget-no-subtitle">
                        <div class="widget-title">Há Confirmar</div>
                        <div class="widget-subtitle">Última Insc.: {{dataPoint.DtUltimaInscricao|date:"dd/MM/yyyy HH:mm"}}</div>
                        <div class="widget-int">{{dataPoint.NroInscritosSemConfirmacao}}</div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="row" style="margin-top:5px">
                        <div class="col-md-12">
                            <button [hidden]="event.HabilitaInscricao || initRegistration" [disabled]="disableRegistration" (cick)="enableRegistration()"
                                class="btn btn-info btn-block"><span class="fa fa-pencil-square-o"></span>Habilitar Inscrição Manual</button>
                        </div>
                    </div>
                    <div class="row" style="margin-top:5px">
                        <div class="col-md-12">
                            <button [hidden]="event.HabilitaEvento" [disabled]="disablePublish" (click)="publishRegistration()" class="btn btn-info btn-block"><span class="fa fa-upload"></span>Publicar Evento</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <a [routerLink]="['/events', event.Configuracao.TituloChave]" class="btn btn-info btn-block"><span class="fa fa-globe"></span> Ir para o Site Evento</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <a [routerLink]="['/events/participants/', event.IdEntity]" class="btn btn-info btn-block"><span class="fa fa-users"></span> Lista de Participantes</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--END PAGE TITLE -->

        <!-- PAGE CONTENT WRAPPER -->
        <div class="page-content-wrap">
            <div class="row" ngForm #p="ngForm" novalidate>
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-body posts">
                            <div class="post-item">
                                <div class="post-title">
                                    <div class="form-group">
                                        <label class="col-md-3 col-xs-12 control-label">Titulo*</label>
                                        <div class="col-md-6 col-xs-12">
                                            <input name="Titulo" type="text" required class="form-control" [(ngModel)]="event.Titulo" #Titulo="ngModel" />
                                            <label class="error" [hidden]="Titulo.valid || (Titulo.pristine && !submitted)">
                        Titulo do evento é obrigatório.
                    </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="post-date">
                                    <div class="form-group">
                                        <label class="col-md-3 col-xs-12 control-label">Dt. Evento*</label>
                                        <div class="col-md-6 col-xs-12">

                                            <my-date-picker name="EditPickerModel" [options]="configDtPicker" #EditPickerModel="ngModel" [(ngModel)]="event.EditPickerModel"
                                                required></my-date-picker>
                                            <label class="error" [hidden]="EditPickerModel.valid || (EditPickerModel.pristine && !submitted)">
                                                    Dt. do evento é obrigatória.
                                            </label>
                                            <label class="error" [hidden]="dateValid">
                                                    Dt. do evento deve ser maior que a data atual.
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="post-text">
                                    <div class="form-group">
                                        <label class="col-md-3 col-xs-12 control-label">Descrição*</label>
                                        <div class="col-md-6 col-xs-12">
                                            <!-- <div [froalaEditor]="options" [(froalaModel)]="event.Descricao"></div>-->
                                            <ckeditor name="Descricao" [(ngModel)]="event.Descricao" [config]="configCkEditor" required #Descricao="ngModel" debounce="500"></ckeditor>
                                            <label class="error" [hidden]="Descricao.valid || (Descricao.pristine && !submitted)">
                            Descrição do evento é obrigatória.
                    </label>
                                        </div>
                                    </div>
                                </div>

                                <div class="post-row" style="margin-top: 20px !important; margin-bottom: 10px !important;">
                                    <!-- START TIMELINE ITEM -->
                                    <div class="timeline-item timeline-item-right">
                                        <div class="timeline-item-icon"><span class="fa fa-map-marker"></span> Endereço</div>
                                        <div class="timeline-item-content">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label">Logradouro*</label>

                                                    <input type="text" name="Logradouro" required class="form-control" #Logradouro="ngModel" [(ngModel)]="event.Endereco.Logradouro"
                                                    />
                                                    <label class="error" [hidden]="Logradouro.valid || (Logradouro.pristine && !submitted)">
                                                        Logradouro do local do evento é obrigatório.
                                                     </label>

                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label">Número*</label>

                                                    <input type="text" name="Numero" required class="form-control" #Numero="ngModel" [(ngModel)]="event.Endereco.Numero" />
                                                    <label class="error" [hidden]="Numero.valid || (Numero.pristine && !submitted)">
                                                        Número do local do evento é obrigatório.
                                                    </label>

                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label">Bairro*</label>

                                                    <input type="text" name="Bairro" required #Bairro="ngModel" class="form-control" [(ngModel)]="event.Endereco.Bairro" />
                                                    <label class="error" [hidden]="Bairro.valid || (Bairro.pristine && !submitted)">
                                                        Bairro do local do evento é obrigatório.
                                                     </label>

                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label">Complemento</label>
                                                    <input type="text" name="Complemento" class="form-control" [(ngModel)]="event.Endereco.Complemento" />

                                                </div>
                                            </div>

                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label">Cep*</label>

                                                    <input type="text" name="Cep" required #Cep="ngModel" class="form-control" minlength="8" maxlength="9" [(ngModel)]="event.Endereco.Cep"
                                                    />
                                                    <label class="error" [hidden]="Cep.valid || (Cep.pristine && !submitted)">
                                                        Cep do local do evento é obrigatório.
                                                     </label>

                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <label class="control-label">Estado*</label>
                                                    <select name="Estado" required #Estado="ngModel" class="form-control" (change)="ChangeState()" [(ngModel)]="event.Endereco.Estado">
                                                        <option value="">--Selecione--</option>
                                                        <option *ngFor="let estado of modelEstado" [value]="estado.sigla">
                                                            {{estado.sigla}}
                                                        </option>
                                                    </select>
                                                    <label class="error" [hidden]="Estado.valid || (Estado.pristine && !submitted)">                                                        
                                                        Estado do local do evento é obrigatório.
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label class="control-label">Cidade*</label>
                                                    <select name="Cidade" required #Cidade="ngModel" class="form-control" [(ngModel)]="event.Endereco.Cidade">
                                                        <option value="">--Selecione--</option>
                                                        <option *ngFor="let city of modelCidade" [value]="city">
                                                            {{city}}
                                                        </option>
                                                    </select>
                                                    <label class="error" [hidden]="Cidade.valid || (Cidade.pristine && !submitted)">
                                                        Cidade do local do evento é obrigatório.
                                                    </label>
                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                </div>

                                <div class="post-row" style="margin-top: 20px !important; margin-bottom: 10px !important;">
                                    <!-- START TIMELINE ITEM -->
                                    <div class="timeline-item timeline-item-right">
                                        <div class="timeline-item-icon"><span class="fa fa-envelope"></span> Contato</div>
                                        <div class="timeline-item-content">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="control-label">Nome Responsável</label>

                                                    <input type="text" name="NomeResponsavel" class="form-control" [(ngModel)]="event.Contato.NomeResponsavel" />
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label">Email*</label>

                                                    <input type="text" name="Email" required class="form-control" #Email="ngModel" [(ngModel)]="event.Contato.Email" />
                                                    <label class="error" [hidden]="Email.valid || (Email.pristine && !submitted)">
                                                        Email para contato do evento é obrigatório.
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label">Telefone*</label>

                                                    <input type="text" name="Telefone" required class="form-control" #Telefone="ngModel" [(ngModel)]="event.Contato.Telefone"
                                                    />
                                                    <label class="error" [hidden]="Telefone.valid || (Telefone.pristine && !submitted)">
                                                        Telefone para contato do evento é obrigatório.
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <button type="button" (click)="saveEvent(p.valid)" [disabled]="disableEdit" class="btn btn-info btn-lg btn-rounded pull-right">Salvar</button>
                        </div>
                    </div>

                </div>
            </div>
            <div *ngIf="event.IdEntity > 0 && event.Configuracao.CriarPalestra" class="row">
                <div class="col-md-9">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Palestras</h3>
                            <ul class="panel-controls">
                                <li>
                                    <button class="btn btn-info btn-rounded" [disabled]="disableEdit" (click)="onNewLecture()" data-toggle="modal" data-target="#modal_basic"><span class="fa fa-plus"></span></button>
                                </li>
                            </ul>
                        </div>
                        <div class="panel-body">
                            <!-- START TIMELINE -->
                            <div class="timeline timeline-right" *ngFor="let l of lectures">

                                <!-- START TIMELINE ITEM -->
                                <div class="timeline-item timeline-main">
                                    <div class="timeline-date">{{ l.dtPalestra | date:"dd/MM/yyyy"}}</div>
                                </div>
                                <!-- END TIMELINE ITEM -->

                                <!-- START TIMELINE ITEM -->
                                <div class="timeline-item timeline-item-right" *ngFor="let q of l.lectures">
                                    <div class="timeline-item-info">{{q.HrInicio}} à {{q.HrFim}}</div>
                                    <div class="timeline-item-icon"><span class="fa fa-comments-o"></span></div>
                                    <div class="timeline-item-content">
                                        <div class="timeline-body">
                                            <!--  <img src="assets/images/gallery/nature-6.jpg" width="200" class="img-text" align="left" /> -->
                                            <h4>{{q.Titulo}}</h4>
                                            <p>{{q.Descricao}}</p>
                                            <br />
                                            <p><strong>Local: </strong>{{q.Local.Nome}}</p>
                                            <ul class="list-tags push-up-10">
                                                <li><strong>#</strong>{{q.Tema}}</li>
                                            </ul>
                                        </div>
                                        <div class="timeline-footer">
                                            <strong>Palestrante: {{q.Palestrante.Nome}}</strong>
                                            <p>{{q.Palestrante.Descricao}}</p>
                                        </div>
                                        <div class="list-group-controls">
                                            <button class="btn btn-info btn-lg btn-rounded" [disabled]="disableEdit" (click)="onEditLecture(q);" data-toggle="modal"
                                                data-target="#modal_basic"><span class="fa fa-pencil"></span></button>
                                        </div>
                                    </div>
                                </div>
                                <!-- END TIMELINE ITEM -->
                            </div>
                            <!-- END TIMELINE -->
                        </div>
                        <div class="panel-footer">

                        </div>
                    </div>
                </div>

            </div>


        </div>
        <!-- END PAGE CONTENT WRAPPER -->
    </div>
    <!-- END PAGE CONTENT -->
</div>

<div class="modal" id="modal_basic" tabindex="-1" role="dialog" aria-labelledby="defModalHead" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="defModalHead">Heca Modal</h4>
            </div>
            <lecture-modal-selector [entity]="lectureModal" (notify)='onSaveLecture($event)'></lecture-modal-selector>
        </div>
    </div>
</div>