<div *ngIf="message && message.type == 'error'" class="message-box message-box-danger animated fadeIn open" id="message-box-default">
    <div class="mb-container">
        <div class="mb-middle">
            <div class="mb-title"><span class="fa fa-times"></span>Erro!</div>
            <div class="mb-content">
                <h2>{{message.text}}</h2>
            </div>
            <div class="mb-footer">
                <button *ngIf="message.data.IsAddButton" [routerLink]="[message.data.UrlGo]" class="btn btn-default btn-lg" [innerHTML]="message.data.TextButton"></button>
                <button *ngIf="!message.data.IsAddButton" (click)="message =null" class="btn btn-default btn-lg pull-right mb-control-close">Fechar</button>
            </div>
        </div>
    </div>
</div>
<div *ngIf="message && message.type == 'success'" class="message-box message-box-success animated fadeIn open" id="message-box-default">
    <div class="mb-container">
        <div class="mb-middle">
            <div class="mb-title"><span class="fa fa-check"></span>Sucesso!</div>
            <div class="mb-content">
                <h2>{{message.text}}</h2>
            </div>
            <div class="mb-footer">
                <button *ngIf="message.data.IsAddButton" [routerLink]="[message.data.UrlGo]" class="btn btn-default btn-lg" [innerHTML]="message.data.TextButton"></button>
                <button *ngIf="!message.data.IsAddButton" (click)="message =null" class="btn btn-default btn-lg pull-right mb-control-close">Fechar</button>
            </div>
        </div>
    </div>
</div>
<div *ngIf="message && message.type == 'warning'" class="message-box message-box-warning animated fadeIn open" id="message-box-default">
    <div class="mb-container">
        <div class="mb-middle">
            <div class="mb-title"><span class="fa fa-warning"></span>Informações!</div>
            <div class="mb-content" [innerHTML]="message.text">
            </div>
            <div class="mb-footer">
                <div class="pull-right">
                    <button *ngIf="message.data.IsAddButton" (click)="onReenviar()" class="btn btn-default btn-lg" [innerHTML]="message.data.TextButton"></button>
                    <button (click)="message =null" class="btn btn-default btn-lg">Fechar</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="message && message.type == 'login'" class="message-box animated fadeIn open" id="mb-signout">
    <div class="mb-container">
        <div class="mb-middle">
            <div class="mb-title"><span class="fa fa-sign-out"></span><strong>Sair</strong> ?</div>
            <div class="mb-content">
                <p>Você deseja sair?</p>
                <p>Clique em Não se deseja continuar. Clique Sim para sair.</p>
            </div>
            <div class="mb-footer">
                <div class="pull-right">

                    <button (click)="onLogOut()" class="btn btn-success btn-lg">Sim</button>
                    <button (click)="message =null" class="btn btn-default btn-lg">Não</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="message && message.type == 'dialogResult'" class="message-box message-box-warning animated fadeIn open" id="message-box-default">
    <div class="mb-container">
        <div class="mb-middle">
            <div class="mb-title"><span class="fa fa-warning"></span>Deseja continuar?</div>
            <div class="mb-content" [innerHTML]="message.text">
            </div>
            <div class="mb-footer">
                <div class="pull-right">
                    <button (click)="onClick('Yes')" class="btn btn-success btn-lg">Sim</button>
                    <button (click)="onClick('No')" class="btn btn-default btn-lg">Não</button>
                </div>
            </div>
        </div>
    </div>
</div>