<!-- START PAGE CONTAINER -->
<div class="page-container page-navigation-top">
    <!-- PAGE CONTENT -->
    <div class="page-content">
        <!-- START X-NAVIGATION VERTICAL -->
        <home-box-auth></home-box-auth>
        <!-- END X-NAVIGATION VERTICAL -->

        <!-- START BREADCRUMB -->
        <ul class="breadcrumb">
            <li><a href="#">Painel</a></li>
            <li><a href="#">Promotor</a></li>
            <li class="active">Dashboard</li>
        </ul>
        <!-- END BREADCRUMB -->

        <!-- PAGE TITLE-->
        <div *ngIf="event.HabilitaInscricao" class="page-title">
            <h2><span class="fa fa-cogs"></span> {{nroInscritos}} <small> participantes inscritos, restam </small>{{event.Configuracao.NroMaximoInscrito
                - nroInscritos}}<small> inscrições.</small></h2>
        </div>
        <!--END PAGE TITLE -->

        <!-- PAGE CONTENT WRAPPER -->
        <div class="page-content-wrap">

            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-body posts">
                            <div class="post-item">
                                <div class="post-title">
                                    <div class="form-group">
                                        <label class="col-md-3 col-xs-12 control-label">Titulo</label>
                                        <div class="col-md-6 col-xs-12">
                                            <input type="text" required class="form-control" [(ngModel)]="event.Titulo" />
                                        </div>
                                    </div>
                                </div>
                                <div class="post-date">
                                    <div class="form-group">
                                        <label class="col-md-3 col-xs-12 control-label">Dt. Evento</label>
                                        <div class="col-md-6 col-xs-12">
                                           
                                                <my-date-picker name="mydate" [options]="configDtPicker" [(ngModel)]="event.EditPickerModel" required></my-date-picker>
                                            
                                        </div>
                                    </div>
                                </div>
                                <div class="post-text">
                                    <div class="form-group">
                                        <label class="col-md-3 col-xs-12 control-label">Descrição</label>
                                        <div class="col-md-6 col-xs-12">
                                            <!-- <div [froalaEditor]="options" [(froalaModel)]="event.Descricao"></div>-->
                                            <ckeditor [(ngModel)]="event.Descricao" [config]="configCkEditor" debounce="500"></ckeditor>
                                            {{event.Descricao}}
                                        </div>
                                    </div>
                                </div>
                                <div class="post-row">
                                    <!-- START TIMELINE ITEM -->
                                    <div class="timeline-item timeline-item-right">
                                        <div class="timeline-item-icon"><span class="fa fa-map-marker"></span> Endereço</div><br>
                                        <div class="timeline-item-content">
                                            <div class="form-group">
                                                <label class="col-md-3 col-xs-12 control-label">Logradouro</label>
                                                <div class="col-md-7 col-xs-12">
                                                    <input type="text" required class="form-control" [(ngModel)]="event.Endereco.Logradouro" />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-3 col-xs-12 control-label">Número</label>
                                                <div class="col-md-7 col-xs-12">
                                                    <input type="text" required class="form-control" [(ngModel)]="event.Endereco.Numero" />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-3 col-xs-12 control-label">Complemento</label>
                                                <div class="col-md-7 col-xs-12">
                                                    <input type="text" required class="form-control" [(ngModel)]="event.Endereco.Complemento" />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-3 col-xs-12 control-label">Cep</label>
                                                <div class="col-md-7 col-xs-12">
                                                    <input type="text" required class="form-control" [(ngModel)]="event.Endereco.Cep" />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-3 col-xs-12 control-label">Cidade</label>
                                                <div class="col-md-7 col-xs-12">
                                                    <input type="text" required class="form-control" [(ngModel)]="event.Endereco.Cidade" />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-3 col-xs-12 control-label">Estado</label>
                                                <div class="col-md-7 col-xs-12">
                                                    <input type="text" required class="form-control" [(ngModel)]="event.Endereco.Estado" />
                                                </div>
                                            </div>
                                        </div>

                                        <div class="timeline-item-content">
                                            <div class="timeline-body padding-0">
                                                <div id="google_ptm_map" style="width: 100%; height: 150px;"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <button type="button" (click)="savePromoter()" class="btn btn-info btn-lg btn-rounded pull-right">Salvar</button>
                        </div>
                    </div>

                </div>
            </div>
            <div *ngIf="event.IdEntity > 0" class="row">
                <div class="col-md-9">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Palestras</h3>
                            <ul class="panel-controls">
                                <li>
                                    <button class="btn btn-info btn-rounded" (click)="onNewLecture()" data-toggle="modal" data-target="#modal_basic"><span class="fa fa-plus"></span></button>
                                </li>
                            </ul>
                        </div>
                        <div class="panel-body">
                            <!-- START TIMELINE -->
                            <div class="timeline timeline-right" *ngFor="let l of lectures">

                                <!-- START TIMELINE ITEM -->
                                <div class="timeline-item timeline-main">
                                    <div class="timeline-date">{{ l.dtPalestra | date:"dd/MM/yyyy"}}</div>
                                </div>
                                <!-- END TIMELINE ITEM -->

                                <!-- START TIMELINE ITEM -->
                                <div class="timeline-item timeline-item-right"  *ngFor="let q of l.lectures">
                                    <div class="timeline-item-info">{{q.HrInicio}} à {{q.HrFim}}</div>
                                    <div class="timeline-item-icon"><span class="fa fa-comments-o"></span></div>
                                    <div class="timeline-item-content">
                                        <div class="timeline-body">
                                            <!--  <img src="assets/images/gallery/nature-6.jpg" width="200" class="img-text" align="left" /> -->
                                            <h4>{{q.Titulo}}</h4>
                                            <p>{{q.Descricao}}</p>
                                            <br />
                                            <p><strong>Local: </strong>{{q.Local.Nome}}</p>
                                            <ul class="list-tags push-up-10">
                                                <li><strong>#</strong>{{q.Tema}}</li>
                                            </ul>
                                        </div>
                                        <div class="timeline-footer">
                                            <strong>Palestrante: {{q.Palestrante.Nome}}</strong>
                                            <p>{{q.Palestrante.Descricao}}</p>
                                        </div>
                                        <div class="list-group-controls">
                                            <button class="btn btn-info btn-lg btn-rounded" (click)="onEditLecture(q);" data-toggle="modal" data-target="#modal_basic"><span class="fa fa-pencil"></span></button>
                                        </div>
                                    </div>
                                </div>
                                <!-- END TIMELINE ITEM -->
                            </div>
                            <!-- END TIMELINE -->
                        </div>
                        <div class="panel-footer">

                        </div>
                    </div>
                </div>

            </div>


        </div>
        <!-- END PAGE CONTENT WRAPPER -->
    </div>
    <!-- END PAGE CONTENT -->
</div>

<div class="modal" id="modal_basic" tabindex="-1" role="dialog" aria-labelledby="defModalHead" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="defModalHead">Heca Modal</h4>
            </div>
            <lecture-modal-selector [entity]="lectureModal" (notify)='onSaveLecture($event)'></lecture-modal-selector>

        </div>
    </div>
</div>