<!-- START X-NAVIGATION VERTICAL -->
<ul class="x-navigation x-navigation-horizontal" *ngIf="currentUser">
    <li class="xn-logo">
        <a style="width: 100%" [routerLink]="['/' + (currentUser.isPromotor ? 'promoters' : currentUser.isAdmin ? 'admin' : 'participants') + '/dashboard']" [textContent]="currentUser.name + '!'"></a>
        <a href="#" class="x-navigation-control"></a>
    </li>   
    <li class="xn-openable" *ngIf="initRegistration && (currentUser.isPromotor || currentUser.isAdmin)">
        <a href=""><span class="fa fa-files-o"></span> <span class="xn-text">Lista Participantes</span></a>
        <ul class="animated zoomIn">
            <li><a href="pages-gallery.html"><span class="fa fa-image"></span> Todos</a></li>
        </ul>
    </li>
    <!-- SIGN OUT -->
    <li class="pull-right">
        <div class="mb-middle mb-title">
            <button (click)="onLogOut()" class="btn btn-primary">         
                <i class="fa fa-sign-out" style="font-size: 30px;margin-right: -7px;margin-top: 5px;">             
                </i>
           </button>
        </div>
    </li>
    <!-- END SIGN OUT -->
</ul>
<!-- END X-NAVIGATION VERTICAL -->