<div class="login-container">
    <div class="login-box animated fadeInDown">
        <div class="login-logo"></div>
        <div class="login-body">
            <div class="login-title"><strong>Bem-vindo</strong>, informe seus dados</div>
            <form action="index.html" class="form-horizontal" method="post">
                <div class="form-group">
                    <div class="col-md-12">
                        <input type="text" name="txtUsername" class="form-control" required [(ngModel)]="credentials.username" placeholder="Usuário"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <input type="password" name="txtPassword" class="form-control" required [(ngModel)]="credentials.password" placeholder="Senha"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-6">
                        <button (click)="onLogin()" class="btn btn-info btn-block">Entrar</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="login-footer">
            <div class="pull-left">
                &copy; 2017 Geca
            </div>
            <div class="pull-right">
                <a href="#" data-toggle="modal" data-target="#modal_basic">Sobre</a> 
            </div>
        </div>
    </div>

</div>

<div class="modal" id="modal_basic" tabindex="-1" role="dialog" aria-labelledby="defModalHead" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Fechar</span></button>
                <h4 class="modal-title" id="defModalHead">Geca Modal</h4>
            </div>
            <about-modal></about-modal>
        </div>
    </div>
</div>