<!-- START PAGE CONTAINER -->
<div *ngIf="showEvent" class="page-container page-navigation-top">
    <!-- PAGE CONTENT -->
    <div class="page-content">

        <div *ngIf="currentUser">
            <!-- START X-NAVIGATION VERTICAL -->
            <home-box-auth></home-box-auth>
            <!-- END X-NAVIGATION VERTICAL -->

            <!-- START BREADCRUMB -->
            <ul class="breadcrumb">
                <li><a href="#">Painel</a></li>
                <li><a href="#" [innerHTML]="currentUser.isAdmin ? 'Admin' : currentUser.isPromotor ? 'Promotor' : 'Participante'"></a></li>
                <li class="active">Evento</li>
                <div class="btn-group btn-group-xs pull-right"><button class="btn btn-primary" (click)="backToUrl()">Voltar</button></div>
            </ul>
            <!-- END BREADCRUMB -->
        </div>
      
        <!-- PAGE CONTENT WRAPPER -->
        <div class="page-content-wrap">
            <div class="row">
                <div class="col-md-9">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="col-md-8">
                                <h3>{{event.Titulo}}</h3>
                            </div>
                            <div class="col-md-04">
                                <ul class="panel-controls" *ngIf="!jaInscritoEvento">
                                    <li>
                                        <button [disabled]="disableRegistration" class="btn btn-info btn-rounded" (click)="onDoEvent()" data-toggle="modal" data-target="#modal_basic">Faça sua Inscrição</button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="panel-body posts">
                            <div class="post-item">

                                <div class="post-date"><span class="fa fa-calendar"></span> {{event.DtEvento | date:'dd/MM/yyyy'}}</div>
                                <div class="post-text" [innerHTML]="event.Descricao">

                                </div>
                                <div class="post-row">
                                    <!-- START TIMELINE ITEM -->
                                    <div class="timeline-item timeline-item-right">
                                        <div class="timeline-item-icon"><span class="fa fa-map-marker"></span> Endereço</div>
                                        <div class="timeline-item-content">
                                            <p><strong>Rua: </strong>{{event.Endereco.Logradouro}}, {{event.Endereco.Numero}}</p>
                                            <p *ngIf="event.Endereco.Complemento"><strong>Complemento: </strong>{{event.Endereco.Complemento}}</p>
                                            <p *ngIf="event.Endereco.Cep"><strong>Cep: </strong>{{event.Endereco.Cep}}</p>
                                            <p><strong>Cidade: </strong>{{event.Endereco.Cidade}}/{{event.Endereco.Estado}}</p>
                                        </div>

                                        <div class="timeline-item-content">
                                            <div class="timeline-body padding-0">
                                                <div id="google_ptm_map" style="width: 100%; height: 150px;"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md-3">
                    <!-- START NEW RECORD -->
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <h3>Tem dúvida? Entre em contato!!</h3>
                            <form class="form-horizontal" ngForm #p="ngForm" novalidate role="form">
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <label class="label-control">Nome*</label>
                                        <input type="text" name="Nome" #Nome="ngModel" [(ngModel)]="contato.Nome" class="form-control" required placeholder="Seu nome"
                                        />
                                        <label class="error" [hidden]="Nome.valid || (Nome.pristine && !submitted)">
                                          O campo nome é obrigatório.
                                    </label>
                                    </div>
                                    <div class="col-md-12">
                                        <label class="label-control">Email*</label>
                                        <input type="email" name="Email" #Email="ngModel" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" [(ngModel)]="contato.Email" class="form-control" required placeholder="Seu email"
                                        />
                                        <label class="error" [hidden]="Email.valid || (Email.pristine && !submitted)">
                                           <span *ngIf="Email.errors && Email.errors.required" >O campo email é obrigatório.</span>
                                           <span *ngIf="Email.errors && Email.errors.pattern" >O email informado deve ser válido.</span>
                                    </label>
                                    </div>
                                    <div class="col-md-12">
                                        <label class="label-control">Assunto*</label>
                                        <input type="text" name="Assunto" #Assunto="ngModel" [(ngModel)]="contato.Assunto" class="form-control" required placeholder="Seu email"
                                        />
                                        <label class="error" [hidden]="Assunto.valid || (Assunto.pristine && !submitted)">
                                          O campo assunto é obrigatório.
                                    </label>
                                    </div>
                                    <div class="col-md-12">
                                        <label class="label-control">Mensagem*</label>
                                        <textarea rows="3" name="ngModel" #Mensagem="ngModel" [(ngModel)]="contato.Mensagem" class="form-control" required placeholder="Deixe aqui sua mensagem"></textarea>
                                        <label class="error" [hidden]="Mensagem.valid || (Mensagem.pristine && !submitted)">
                                          O campo mensagem é obrigatório.
                                    </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <button class="btn btn-success pull-right" (click)="enviarContato(p.valid); p.reset();">Enviar&nbsp;&nbsp;&nbsp;<span class="fa fa-envelope-o"></span></button>
                                    </div>
                                </div>
                            </form>
                            <br>
                            <div class="row">
                                <div class="col-md-12">
                                    <label class="btn btn-info btn-rounded btn-block">{{event.Contato.Email}}&nbsp;&nbsp;&nbsp;<span class="fa fa-envelope"></span> 
                                    </label>
                                </div>
                                <div class="col-md-12">
                                    <label class="btn btn-primary btn-rounded btn-block">{{event.Contato.Telefone}}&nbsp;&nbsp;&nbsp;<span class="fa fa-phone"></span> 
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END NEW RECORD -->

                </div>
            </div>
            <div *ngIf='lectures' class="row">
                <div class="col-md-9">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Palestras</h3>
                        </div>
                        <div class="panel-body">
                            <!-- START TIMELINE -->
                            <div class="timeline timeline-right" *ngFor="let q of lectures">

                                <!-- START TIMELINE ITEM -->
                                <div class="timeline-item timeline-main">
                                    <div class="timeline-date">{{q.dtPalestra | date:"dd/MM/yyyy"}}</div>
                                </div>
                                <!-- END TIMELINE ITEM -->
                                <!-- START TIMELINE ITEM -->
                                <div class="timeline-item timeline-item-right" *ngFor="let l of q.lectures">
                                    <div class="timeline-item-info">{{l.HrInicio}} à {{l.HrFim}}</div>
                                    <div class="timeline-item-icon"><span class="fa fa-comments-o"></span></div>
                                    <div class="timeline-item-content">
                                        <div class="timeline-body">
                                            <!--  <img src="assets/images/gallery/nature-6.jpg" width="200" class="img-text" align="left" /> -->
                                            <h4>{{l.Titulo}}</h4>
                                            <p>{{l.Descricao}}</p>
                                            <br />
                                            <p><strong>Local: </strong>{{l.Local.Nome}}</p>
                                            <ul class="list-tags push-up-10">
                                                <li><strong>#</strong>{{l.Tema}}</li>
                                            </ul>
                                        </div>
                                        <div class="timeline-footer">
                                            <strong>Palestrante: {{l.Palestrante.Nome}}</strong>
                                            <p>{{l.Palestrante.Descricao}}</p>
                                        </div>
                                        <div class="list-group-controls">
                                            <button class="btn btn-info btn-rounded" *ngIf="jaInscritoEvento && !onJaInscrito(l)" [disabled]="disableRegistration" (click)="onConfirmLecture(l);">Adicionar&nbsp;&nbsp;&nbsp;<span class="fa fa-plus"></span></button>
                                            <button *ngIf="onJaInscrito(l)" class="btn btn-info  btn-rounded" [disabled]="true">Inscrito&nbsp;&nbsp;&nbsp;
<span class="fa fa-check"></span></button>
                                        </div>
                                    </div>
                                </div>
                                <!-- END TIMELINE ITEM -->
                            </div>
                            <!-- END TIMELINE -->
                        </div>
                        <div class="panel-footer">
                        </div>
                    </div>
                </div>

            </div>


        </div>
        <!-- END PAGE CONTENT WRAPPER -->
    </div>
    <!-- END PAGE CONTENT -->
</div>
<div class="modal" id="modal_basic" tabindex="-1" role="dialog" aria-labelledby="defModalHead" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Fechar</span></button>
                <h4 class="modal-title" id="defModalHead">Geca Modal</h4>
            </div>
            <participant-modal-selector [entityParticipant]="participantModal" [entityEvent]="eventModal" (notify)='onSaveParticipant($event)'></participant-modal-selector>
        </div>
    </div>
</div>