<!-- START PAGE CONTAINER -->
<div class="page-container page-navigation-top">
    <!-- PAGE CONTENT -->
    <div class="page-content">
        <!-- START X-NAVIGATION VERTICAL -->
        <home-box-auth></home-box-auth>
        <!-- END X-NAVIGATION VERTICAL -->

        <!-- START BREADCRUMB -->
        <ul class="breadcrumb">
            <li><a href="#">Painel</a></li>
            <li><a href="#">Admin</a></li>
            <li class="active">Configuração</li>
             <div class="btn-group btn-group-xs pull-right"><button class="btn btn-primary" (click)="backToUrl()">Voltar</button></div>
        </ul>
        <!-- END BREADCRUMB -->

        <!-- PAGE TITLE -->
        <div class="page-title">
            <h2><span class="fa fa-cogs"></span> Configuração <small></small></h2>
        </div>
        <!-- END PAGE TITLE -->

        <!-- PAGE CONTENT WRAPPER -->
        <div class="page-content-wrap">
            <div class="row">
                <div class="col-md-12">
                    <form class="form-horizontal" #f="ngForm">
                        <div class="panel panel-default">

                            <div class="panel-heading">
                                <h3 class="panel-title">Criar ou editar configuração para evento</h3>
                            </div>
                            <div class="panel-body">

                                <div class="form-group">
                                    <label class="col-md-3 col-xs-12 control-label">Subdomínio*</label>
                                    <div class="col-md-6 col-xs-12">
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="fa fa-globe"></span></span>
                                            <input name="TituloChave" type="text" pattern="^\w+([\-]?\w+)*" [(ngModel)]="configuration.TituloChave" (keyup)="lookupDescription(configuration.TituloChave, TituloChave.valid)" required minlength="8" maxlength="50" class="form-control"
                                                #TituloChave="ngModel" />
                                        </div>
                                        <label class="error" [hidden]="TituloChave.valid || (TituloChave.pristine && !submitted)">
                                           <span *ngIf="TituloChave.errors && TituloChave.errors.required" >O campo subdomínio é obrigatório.</span>
                                           <span *ngIf="TituloChave.errors && TituloChave.errors.pattern" >O subdomínio deve conter somente letras, números ou hífen e o sem espaço</span>                                           
                                           <span *ngIf="TituloChave.errors && (TituloChave.errors.minlength || TituloChave.errors.maxlength)" >O subdomínio deve ter entre 8 à 50 caracteres</span>

                                        </label>
                                        <label class="error" [hidden]="!existsSubDomain">
                                                        Subdomínio já existe.
                                        </label>
                                        
                                        <span class="help-block" [innerHTML]="'Endereço do site www.doublesilva.com/events/' + configuration.TituloChave"></span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-3 col-xs-12 control-label">N° de Participantes*</label>
                                    <div class="col-md-6 col-xs-12">
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="fa fa-group"></span></span>
                                            <input type="text" name="NroMaximoInscrito" pattern="^([1-9])+(\d+){1}" class="form-control" [(ngModel)]="configuration.NroMaximoInscrito" required
                                                #NroMaximoInscrito="ngModel" />
                                        </div>
                                        <label class="error" [hidden]="NroMaximoInscrito.valid || (NroMaximoInscrito.pristine && !submitted)">
                                                        N° de participantes é obrigatório
                                           <span *ngIf="NroMaximoInscrito.errors && NroMaximoInscrito.errors.required" >O campo número de participantes é obrigatório.</span>
                                           <span *ngIf="NroMaximoInscrito.errors && NroMaximoInscrito.errors.pattern" >O valor deve ser númerico maior que 9.</span>                                           
                                         </label>
                                        <span class="help-block">Número máximo de participantes.</span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-3 col-xs-12 control-label">Dt. Inicio Inscrição*</label>
                                    <div class="col-md-6 col-xs-12">
                                        <my-date-picker name="mydateStart" [options]="configDtPicker" [(ngModel)]="configuration.EditInitPickerModel" required #EditInitPickerModel="ngModel"></my-date-picker>
                                        <label class="error" [hidden]="EditInitPickerModel.valid || (EditInitPickerModel.pristine && !submitted)">
                                                       Dt. Inicio inscrição é obrigatório
                                                </label>
                                        <span class="help-block">Prazo para o inico da inscrição</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 col-xs-12 control-label">Dt. Final Inscrição*</label>
                                    <div class="col-md-6 col-xs-12">
                                        <my-date-picker name="mydateEnd" [options]="configDtPicker" [(ngModel)]="configuration.EditEndPickerModel" required #EditEndPickerModel="ngModel"></my-date-picker>
                                        <label class="error" [hidden]="EditEndPickerModel.valid || (EditEndPickerModel.pristine && !submitted)">
                                                       Dt. final inscrição é obrigatório
                                                </label>
                                        <span class="help-block">Prazo para o final da inscrição</span>
                                    </div>
                                </div>
                                <div class="col-md-6 col-md-offset-3">

                                    <!-- CONTACT LIST WIDGET -->
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h3 class="panel-title">Promotores</h3>
                                            <div class="list-group-controls">
                                                <button type="button" class="btn btn-primary btn-rounded" (click)="onNewPromoter()" data-toggle="modal" data-target="#modal_basic"><span class="fa fa-plus"></span></button>
                                            </div>
                                        </div>
                                        <div class="panel-body list-group list-group-contacts" *ngFor="let promotor of configuration.Promotores">
                                            <a href="#" class="list-group-item">
                                                <div class="list-group-status status-online"></div>
                                                <span class="contacts-title">{{promotor.Nome}}</span>
                                                <p>{{promotor.Email}}</p><br/>
                                                <p>Permissões</p>
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <span [ngClass]="(promotor.Permissao.EditaEvento)?'fa fa-check-square-o':'fa fa-minus-square'"></span>Editar
                                                        o Evento
                                                    </div>
                                                    <div class="col-md-4">
                                                        <span [ngClass]="(promotor.Permissao.PublicaEvento)?'fa fa-check-square-o':'fa fa-minus-square'"></span>Publicar
                                                        o Evento
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <span [ngClass]="(promotor.Permissao.ConfirmaPresenca)?'fa fa-check-square-o':'fa fa-minus-square'"></span>Confirmar
                                                        Presença
                                                    </div>
                                                    <div class="col-md-4">
                                                        <span [ngClass]="(promotor.Permissao.GeraCertificado)?'fa fa-check-square-o':'fa fa-minus-square'"></span>Gerar
                                                        Certificado
                                                    </div>
                                                </div>
                                                <div class="list-group-controls">
                                                    <button class="btn btn-primary btn-rounded" (click)="onEditPromoter(promotor.IdEntity);" data-toggle="modal" data-target="#modal_basic"><span class="fa fa-pencil"></span></button>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <!-- END CONTACT LIST WIDGET -->

                                </div>


                            </div>
                            <div class="panel-footer">
                                <button type="button" (click)="onSaveConfiguration(f.valid)" class="btn btn-primary pull-right">Salvar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- END PAGE CONTENT WRAPPER -->
    </div>
    <!-- END PAGE CONTENT -->
</div>

<!-- MODALS -->
<div class="modal" id="modal_basic" tabindex="-1" role="dialog" aria-labelledby="defModalHead" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="defModalHead">Basic Modal</h4>
            </div>
            <promoter-modal-selector [entity]="promoterModal" (notify)='onSavePromoter($event)'></promoter-modal-selector>

        </div>
    </div>
</div>
<!-- END PAGE CONTAINER -->