<!-- START PAGE CONTAINER -->
<div class="page-container page-navigation-top">
    <!-- PAGE CONTENT -->
    <div class="page-content">
        <!-- START X-NAVIGATION VERTICAL -->
        <home-box-auth></home-box-auth>
        <!-- END X-NAVIGATION VERTICAL -->

        <!-- START BREADCRUMB -->
        <ul class="breadcrumb">
            <li><a href="#">Painel</a></li>
            <li><a href="#">Admin</a></li>
            <li class="active">Dashboard</li>
             <div class="btn-group btn-group-xs pull-right"><button class="btn btn-primary" (click)="backToUrl()">Voltar</button></div>
        </ul>
        <!-- END BREADCRUMB -->

        <!-- PAGE TITLE -->
        <div class="page-title">
            <h2><span class="fa fa-cogs"></span> Configurações <small>{{configurations.length}} eventos</small></h2>
        </div>
        <!-- END PAGE TITLE -->

        <!-- PAGE CONTENT WRAPPER -->
        <div class="page-content-wrap">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <form class="form-horizontal">
                                <div class="form-group">
                                    <div class="col-md-8">
                                    </div>
                                    <div class="col-md-4">
                                        <a [routerLink]="['/admin/configurations/new']" class="btn btn-success btn-block"><span class="fa fa-plus"></span> Nova configuração para evento</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
            </div>

            <div class="row">
                <div class="col-md-3" *ngFor="let q of configurations">
                    <!-- CONTACT ITEM -->
                    <div class="panel panel-default">
                        <div class="panel-body profile">
                            <div class="profile-data">
                                <div class="profile-data-name">{{q.TituloChave}}</div>
                            </div>
                            <div class="profile-controls">
                                <a [routerLink]="['/events', q.IdEntity, 'edit']" data-toggle="tooltip" data-placement="top" title=""
                                    data-original-title="Visualizar Evento"  style="top:10px;" class="profile-control-right"><span class="fa fa-globe"></span></a>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="contact-info">
                                <p><small>Dt. Inscrição</small><br/>de {{q.DtInicioInscricao | date: 'dd/MM/yyyy'}} à {{q.DtFimInscricao| date: 'dd/MM/yyyy'}}</p>
                                <p><small>N° Máximo de Inscrições</small><br/>{{q.NroMaximoInscrito}}</p>
                                <p><small>Permiti Cadastrar Palestra</small><br/>{{q.CriarPalestra}}</p>
                            </div>
                        </div>
                        <div class="panel-footer">                
                            <a [routerLink]="['/admin/configurations', q.IdEntity, 'edit']" class="btn btn-primary pull-right">Editar</a>
                        </div>
                    </div>
                    <!-- END CONTACT ITEM -->
                </div>

            </div>


        </div>
        <!-- END PAGE CONTENT WRAPPER -->
    </div>
    <!-- END PAGE CONTENT -->
</div>
<!-- END PAGE CONTAINER -->