<div ngForm #p="ngForm" novalidate>
    <div class="modal-body">
        <h2>Promotor</h2>
        <p>Responsavel por gereneciar o pré e o pós evento.</p>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Nome*</label>
                    <input type="text" name="Nome" required class="form-control" [(ngModel)]="entity.Nome" #Nome="ngModel" placeholder="nome do promotor"
                    />
                    <label class="error" [hidden]="Nome.valid || (Nome.pristine && !submitted)">
                         Nome do promotor é obrigatório
                    </label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>E-mail*</label>
                    <input type="email" name="Email" #Email="ngModel" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" required class="form-control"
                        [(ngModel)]="entity.Email" placeholder="email do promotor" />
                    <label class="error" [hidden]="Email.valid || (Email.pristine && !submitted)">
                          <span *ngIf="Email.errors && Email.errors.required">O campo email é obrigatório.</span>
                          <span *ngIf="Email.errors && Email.errors.pattern">O email informado deve ser válido.</span>
                    </label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Usuário*</label>
                    <input type="text" name="Apelido" #Apelido="ngModel" required class="form-control" [(ngModel)]="entity.Apelido" (keyup)="lookupDescription(entity.Apelido, Apelido.valid)"
                        minlength="8" placeholder="usuário do promotor" />
                    <label class="error" [hidden]="Apelido.valid || (Apelido.pristine && !submitted)">
                        Usuário é obrigatório (mínimo de 8 caracteres)
                    </label>
                    <label class="error" [hidden]="!existsUserName">
                                                       Usuário informado já existe. Por favor, tente outro.
                                        </label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Senha*</label>
                    <input type="password" name="Senha" #Senha="ngModel" required class="form-control" [(ngModel)]="entity.Senha" minlength="8"
                        placeholder="senha do promotor" />
                    <label class="error" [hidden]="Senha.valid || (Senha.pristine && !submitted)">
                        Senha é obrigatória (mínimo de 8 caracteres)
                    </label>
                </div>
            </div>
        </div>
        <br />
        <p>Permissões</p>
        <div class="row">
            <div class="col-md-6">
                <input type="checkbox" name="ConfirmaPresenca" [(ngModel)]="entity.Permissao.EditaEvento" /> Editar o Evento
            </div>
            <div class="col-md-6">
                <input type="checkbox" name="PublicaEvento" [(ngModel)]="entity.Permissao.PublicaEvento" />Publicar o Evento
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <input type="checkbox" name="ConfirmaPresenca" [(ngModel)]="entity.Permissao.ConfirmaPresenca" />Confirmar
                Presença
            </div>
            <div class="col-md-6">
                <input type="checkbox" name="GeraCertificado" [(ngModel)]="entity.Permissao.GeraCertificado" /> Gerar Certificado
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        <button (click)='onClick(p, p.valid)' class="btn btn-success pull-right">Salvar</button>
    </div>
</div>