<div class="modal-body">
    <h3 class="text-center">Quer gerir seu evento totalmente online?</h3>
    <p><strong>Geca</strong> é um gerenciador de evento e conteúdo automatizado, com ele você poderá gerenciar seu evento do
        inicio ao fim. Solicite pelo email abaixo um site para seu evento. Criaremos as confirgurações iniciais para o
        site do seu evento e após enviaremos um email com os acessos dos promotores que poderão gerenciar os seguintes itens:
        <p>
            <ul>
                <li>Gerencia Conteúdo do site</li>
                <li>Adiciona palestra e palestrante</li>
                <li>Publica Evento, habilita evento para publico externo.</li>
                <li>Visualiza o Evento, visualiza o conteúdo do evento no site, antes de publicar.</li>
                <li>Habilita Inscrição, habilita manualmente a inscrição do evento, antes do inicio das incrições que esta configurado.</li>
                <li>Lista Participantes, confirmado e pendentes de confirmação.</li>
                <li>Exclui participante, que ainda não confirmou a inscrição.</li>
                <li>Confirma presença do participante inscrito</li>
                <li>Habilitar emissão de certificado para o participante</li>
            </ul>

            <p>Para os participantes além de poder visualizar todos os eventos poderão emitir seu certificado a qualquer monento
                pelo site.</p>

            <address>
                <strong>Att. Double Silva</strong><br>
                <a href="mailto:#">twos.silva@gmail.com</a>
            </address>
</div>
<div class="modal-footer">
    <div class="pull-right">
        <button class="btn btn-default" data-dismiss="modal">Fechar</button>
    </div>
</div>